<% include ./partials/header %>

<div class="container">
    <h1 style="text-align: center;color: white; margin-top: 20px;">Welcome</h1>

    <h2 style="text-align: center;color: white; margin-top: 40px;"><i class="fab fa-google-plus-g" style="color: red;"></i> <i class="fab fa-facebook"
            style="color: blue;"></i>
        Login Application Using OAuth 2.0</h2>


    <p style="text-align: center;color: white; margin-top: 35px;">Click On Login Button</p>


</div>
<% include ./partials/footer %>