<% include ./partials/header %>

<div class="container">
    <h1 style="text-align: center;color: white; margin-top: 20px;">Login </h1>

    <a id="btn-google" class="btn btn-danger" href="/auth/google"><i class="fab fa-google-plus-g"></i> Login With Google</a>
    <a id="btn-facebook" class="btn btn-primary" href="/auth/facebook"><i class="fab fa-facebook"></i> Login With Facebook</a>
</div>


<% include ./partials/footer %>