<% include ./partials/header %>

<h1 id="profile-heading">Profile Details</h1>


<% if(user){ %>
<h2 id="username">
    Name:
    <%= user.username %>
</h2>
<h2 id="email">
    Email:
    <%= user.email %>
</h2>
<h2 id="gender">
    Gender:
    <%= user.gender %>
</h2>
<div id="image">
    <img src="<%= user.image %>" />
</div>
<% } %>

<% include ./partials/footer %>